button{
    position: absolute;
    top:90%;
    left:95%;
    transform:translate(-90%,-95%);
 
 }
 button{
     background: none;
     color:#ccc;
     width: 250px;
     height: 60px;
     border: 3px solid #338033;
     font-size: 22px;
     border-radius: 4px;
     transition: .6s;
     overflow: hidden;
     border-radius: 10px;
     }
 button{
      outline: none;
      }
 
 button::before{
    content: '';
    display: block;
    position: absolute;
    background: rgb(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top:0;
    opacity: .5s;
    filter:blur(30px);
    transform: translateX(-130px) skewX(-15deg);
      }
  button:after{
          content: '';
          display: block;
          position: absolute;
          background: rgba(255,255,255,.2);
          width: 30px;
          height: 100%;
          left:30px;
          top:0;
          opacity: 0;
          filter: blur(30px);
          transform: translate(-100px) scaleX(-15deg);
      }
 button:hover{
     background: #338033;
     cursor: pointer;
 }     
 button:hover:before{
     transform: translateX(300px) skewX(-15deg);
     opacity: .6;
     transition: .7s;
 }
 button:hover:after{
     transform: translateX(300px) skewX(-15deg);
     opacity: 1;
     transition: .7s;
 }
 .row{
    color:black;
    font-size: 18px;
 }
 body{
     background-color: white;
     
     }
 .pizza{
     position: absolute;
     margin-left:550px;
     margin-top:30px;
 }
 header{
    width: 100%;
    top:0%;
 }
 .list-unstyled{
     margin-top:50px;
     margin: 40px;
 }
 #pic{
     margin-left:110px;
 }

 @media only screen and (max-width:1180px){
     .main-content-header{
         width: 100%;
         padding:0 2%;
     }
 }

 @media only screen and(max-width:998px){
     h1{font-size:200%}
 }

 @media only screen and (max-width:768px){
     h1{font-size:180%}
     .main-nav{display: none; }
 }
 
 